@import "tailwindcss";

@font-face{
    font-family: anzo1;
    src: url(./assets/file.woff2)
}

@font-face{
    font-family: anzo2;
    src: url(./assets//file2.woff2)
}

#page1-in{
    perspective: 2000px;
}

#section2{
    position: relative;
    perspective: 3000px;
}

#tiltDiv{
    width: fit-content;
    
}

.rotateText{
  
    transform-origin: 100% 50%;
}